.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.bgimg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.input{
  width: 100%;
  padding: 8px 36px 8px 14px;
  border-radius: 25px;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  outline: none;
  font-size: 16px;
}