@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
}

:root{
    --primary: #cffeea;  
    --primary2: #4fd1c5;                
    --secondary: #7dd3c7;
    --tertiary: gray;               
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9ff0e3;   
}
