.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.heroBackgroundImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.heroContent {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 80px 60px;
  color: white;
}

.weatherHeroCard {
  align-items: center;
  width: 80%;
  height: auto;
  background: rgba(120, 180, 255, 0.35);
  backdrop-filter: blur();
  border-radius: 10px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  padding: 35px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.heroLeft {
  align-items: center;
  padding-left: 200px;
}

.heroLeft h1 {
  font-size: 64px;
  margin: 10px 0;
}

.heroRight {
  font-size: 80px;
  display: flex;
  align-items: center;
}

.infoRow {
  display: flex;
  align-items: center;
}

.infoIcon {
  padding-top: 20px;
  padding-right: 20px;
  font-size: 30px;
}

.para {
  font-size: 20px;
  font-weight: bold;
}

.heading {
  font-weight: bold;
}

.logo {
  border-radius: 20px;
}