.container{
    height: 4rem;
    width: 100%;
    background-color: rgba(231, 254, 245,0.5);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.leftSubContainer{
    display: flex;
    padding-left: 20px;
}

.leftSubContainer,h2{
    padding-top: 5px;
}

.rightSubContainer{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 30px;   
}

.icons{
    font-size: 25px;
    color: var(--tertiary);
}

