.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.bgimg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.AlertsOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  height: auto;
  width: 60%;
  max-width: 900px;
  height: auto;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(2px); 
  border-radius: 20px;
  padding: 40px 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.alerticon{
  padding-right: 10px;
  color: #ffff00;
}

.message{
  color: var(--tertiary);
}

.AlertCards{
  display: flex;
  gap: 20px;
}

.icon{
  color: green;
}

.submessage{
  color: var(--tertiary);
  font-size: 20px;
}