.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.bgimg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
