.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.AlertsOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  max-width: 900px;
  padding: 40px 50px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 20px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  color: white;
}

.alerticon {
  margin-right: 10px;
  color: yellow;
}

.message {
  color: var(--tertiary);
  text-align: center;
}

.AlertCards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  color: green;
  margin-right: 6px;
}

.submessage {
  color: var(--tertiary);
  font-size: 20px;
  text-align: center;
}